Olá, {{ full_name }}!

Seja bem-vindo(a) ao {{ app_name }}!

Para concluir o seu cadastro e confirmar que este e-mail realmente pertence a você,
clique no link abaixo:

{{ url }}

E-mail utilizado no cadastro:
• email: {{ email }}

Caso você não tenha criado uma conta no {{ app_name }}, basta ignorar este e-mail.
Nenhuma ação será realizada sem a confirmação.

Atenciosamente,
Equipe {{ app_name }}

