# npm flags:
save-exact=true
engine-strict=true
registry=https://registry.npmjs.org/
loglevel=verbose
manage-package-manager-versions=true

# pnpm flags:
strict-peer-dependencies=true
dedupe-peer-dependents=true
