Olá, {{ full_name }}!

Recebemos uma solicitação para redefinir a sua senha.
Para continuar, clique no link abaixo:

{{ url }}

Informações de Login:
• email: {{ email }}
• username: {{ username }}

Se preferir, copie e cole este link no seu navegador.

Se você não solicitou a recuperação de senha, por favor, ignore este e-mail e a sua senha não será alterada.

Atenciosamente,
Equipe {{ app_name }}

